.album-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.album {
  width: 300px;
  line-height: 25px;
}

.album-cover {
}

.album-cover > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}

.overlay {
  width: 300px;
  opacity: 50%;
  background-color: black;
}

.album-name {
  font-weight: 700;
}

.artist-name {
  color: #a0a0a0;
}