.album-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.album {
  width: 300px;
  line-height: 25px;
}

.album-cover > img {
  width: 300px;
}

.album-name {
  font-weight: 700;
}

.artist-name {
  color: #a0a0a0;
}